@import "tailwindcss";
@import "@heroui/styles";

body {
  font-family: var(--font-lora);
  color: #1a1a1a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair-display);
}

.Toastify__progress-bar {
  background: #e46212 !important;
}

/* orange: #E46212 */
/* green: #2D5A4A */
/* gray: #6E5F5D */
